#Exclude Directories
"Prio Engine/Debug/"
"Prio Engine/Release/"
"Prio Engine/x64/"
bin/
#Debug/
#Release/
"Prio Engine/Shaders/"
"Prio Engine/bin/"

#Exclude filetypes.
*.exe
*.obj
*.log
*.pdb
*.idb
*.ilk
*.VC.db
Prio Engine.VC.VC.opendb
*_Log.txt
*.tlog
*.lastbuildstate
*.unsuccessfulbuild